{% extends 'base/index.html' %}
{% block title %}
    Membresias
{% endblock %}
{% block activeClientes %}
    active
{% endblock %}
{% block style %}
    #dataTable_filter{
    display:none;
    }
    .dataTables_empty{
    display:none;

    }
    }
{% endblock %}
{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more
        information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official
            DataTables documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if datosVenta %}
                        {% for foo in datosVenta %}
                            <tr>

                                <td>{{ foo.fecha_venta }}</td>
                                <td>{{ foo.horaVenta }}</td>
                                <td>{{ foo.estado }}</td>
                                <td>
                                    <a title="Regresar Venta" href="{% url 'ventas:regresarVentas' foo.pk %}"
                                       class="btn btn-info active">Regresar Venta</a>
                                    <a onclick="return abrir_modal('{% url 'ventas:detalleVenta' foo.pk %}')"
                                       title="Detalles de las ventas" class="mx-3"><i
                                            class="btn btn-primary2 aling-right icon-eye shopping "><span
                                            style="font-size: 20px"></span></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            No hay ventas disponibles
                        </tr>
                    {% endif %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>


{% endblock %}
