{% extends 'base/index.html' %}

{% block content %}
    <!-- Producto sin existencias -->
    {% if messages %}
            {% for message in messages %}
                {% if message.tags  == 'warning' %}
                    <input id="msj" type="hidden" value="1">
                    <input id="contenido" type="hidden" value="{{ message }}">
                {% endif %}
                {% if message.tags == 'success' %}
                    <input id="msj" type="hidden" value="0">
                    <input id="contenido" type="hidden" value="{{ message }}">
                {% endif %}
            {% endfor %}
        {% endif %}
    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
    <li class="nav-item dropdown no-arrow d-sm-none">
        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-search fa-fw"></i>
        </a>
        <!-- Dropdown - Messages -->
        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
             aria-labelledby="searchDropdown">
            <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small"
                           placeholder="Buscar Articulo..." aria-label="Search"
                           aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-dark" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </li>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="d-flex col-12 col-md-3">
            <div class="col-8 col-md-9">
                <h5 class="border-bottom border-gray text-black pb-2 mb-0">Lista de artículos</h5>
            </div>

        </div>

        {% if inventario %}
                    {% for foo in inventario %}

                <div class="text-muted pt-3 ">
                    <div class="pt-2  small  border-bottom ">
                        <div class="row justify-content-between text-center w-100" id="contenedor">

                            <div class="1h-100 col-12 col-sm-12 col-md-3">
                                <h6 class="larger">{{ foo.nombre_articulo }}</h6>
                                <h6 class="smaller">
                                    <small>Código:</small>
                                    {{ foo.codigo_articulo }}
                                </h6>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3">
                                <p>Precio de venta: <strong>${{ foo.precio_unidad }}</strong></p>
                            </div>
                            <div class="col-12 col-sm-12 col-md-3">
                                {% if foo.cant > 0 %}
                                    <p>Unidades disponibles: <strong>{{ foo.cant }}</strong></p>
                                {% else %}
                                    <p>Unidades disponibles: <strong>{{ foo.stock }}</strong></p>
                                {% endif %}

                            </div>
                            <div class="col-12 col-sm-12 col-md-3 text-center">
                                <a title="Restaurar Articulo"
                                   onclick="return abrir_modal('{% url 'articulo:darAlta' foo.pk %}')">
                                    <i class="fas fa-plus-circle fa-md fa-fw icono bg-primary">
                                        <span style="font-size: 20px"></span>
                                    </i>
                                </a>
                                <a title="Editar Articulo"
                                   onclick="return abrir_modal('{% url 'articulo:editarInventario' foo.pk %}')">
                                    <i class="fas fa-pencil-alt fa-md fa-fw icono bg-success">
                                        <span style="font-size: 20px"></span>
                                    </i>
                                </a>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        {% else %}
            <h6>No hay productos registrados</h6>
        {% endif %}

    </div>



{% endblock %}