<!-- Modal -->
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
        <div class="modal-header">
            {% if pk %}
                 <h5 class="modal-title" id="exampleModalLabel2">Editar cliente</h5>
                {% else %}
                 <h5 class="modal-title" id="exampleModalLabel2">Registrar nuevo cliente</h5>
            {% endif %}

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <a>Datos del cliente</a>
            {% if pk %}
             <form method="post" id="cliente" action="{% url 'clientes:editar_cliente' pk%}">
            {% else %}
                <form method="post" id="cliente" action="{% url 'clientes:reg_membrecia' %}">
            {% endif %}

                {% csrf_token %}
                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="Name"><b>Nombre completo:</b></label>
                        {{ form.nombre }}
                    </div>

                    <div class="form-group col-md-4">
                        <label for="Genero"><b>Género:</b></label>
                        {{ form.genero }}
                    </div>

                    <div class="form-group col-md-4">

                        <label for="Telefono"><b>Teléfono:</b></label>
                        {{ form.telefono }}
                    </div>
                    <div class="form-group col-md-4">

                        <label for="Telefono"><b>Correo Electrónico(Opcional):</b></label>
                        {{ form.correo }}
                    </div>



                    <hr class="sidebar-divider">
                    <div class="form-group col-md-12">
                          <a>Datos del vehículo</a>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TipoMembrecia"><b>Marca:</b></label>
                        {{ form.marca }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TipoMembrecia"><b>Modelo:</b></label>
                        {{ form.modelo }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TipoMembrecia"><b>Color:</b></label>
                        {{ form.color }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TipoMembrecia"><b>Matricula:</b></label>
                        {{ form.matricula }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="TipoMembrecia"><b>Año:</b></label>
                        {{ form.anio }}
                    </div>
                </div>

            </form>
        </div>
        <div class="modal-footer">
            {% if pk %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" form="cliente" class="btn btn-primary active">Confirmar Modificación</button>
            {% else %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" form="cliente" class="btn btn-primary active">Crear</button>
            {% endif %}


        </div>
    </div>
</div>
